* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --bg-color: #fff;
    --light-grey: #DEE2E6;
    --share-icon-clr:#EDEEF0;
    --primary-color:#2f6ce5;
    --heading-ff: 'Playfair Display', serif;
    --body-ff: 'Open Sans', sans-serif;
}

li{
    list-style: none;
}
body {
    font-size: 1.6rem;
    font-family: IBM Plex Sans, sans-serif;
}

/* .btn{
    cursor: pointer;
    font-size:1.9rem;
    padding: .6em 1.5em;
    border-radius: 1.1rem;
    text-transform: capitalize;
    border-color:grey;
    width: 100%;
} */

/* .header{
    
    height:3.5em;
} */

.navbar .container-fluid {
    padding: 1rem 2.8em;
}
.navbar-search{
    border-radius: 1.35em;
    padding: .5rem;
    border-radius:1.rem ;
    background-color:var(--light-grey);
    overflow: hidden;

}
.search-bar{
    width: 350px;
    padding: .3rem .5rem;
}

.search-bar,
.search-btn,
.filter-btn{

    background-color: transparent;
    border-color:transparent ;
    outline: none;
}


.top-nav-mobile{
    background: transparent;
  }
main{
    padding: 1.5em 1em;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%), url(../image/hero-section.png );
    min-height: 400px;
    justify-content: space-between;
}
.hero-section h2,
.mobile-hero-section h2{
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: capitalize;
}
.hero-section{
   padding-top: 17em;
}
.mobile-hero-section{
    padding: .5em;
}
.join-btn{
    background: transparent;
    color: white;
    padding: .5em 1em;
    border: 1px solid white;
    border-radius: 10px;
}
.nav-section{
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--light-grey);
}
.tab ul li > button{
    color: #afb5bb;
    font-size: 2rem;
   
    text-transform: capitalize;
}
.nav-underline .nav-link{
    font-size: 1.7rem;
    margin-right: 1em;
}
.write-post-btn,
.join-group-btn {
  display: inline-flex;
  align-items: center;
  gap: 11px;
  padding: 7px 10px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}
.write-post-btn {
    border: 1px solid var(--light-grey);
    background-color: #edeef0;
    color: #000;
  }
  .join-group-btn {
    margin-left: 1em;
    background-color:var(--primary-color);
    color: #fff;
  }

  .filter-btn{
    font-weight: 500;
    padding: .5rem 1rem ;
    border: 1px solid var(--light-grey);
  }
  .mobile-nav{
    padding: 1em;
  }
  .mobile-nav h2{
    
    font-weight: bold;
  }

 
/* article style */
.container{
    overflow: hidden;
}
.article-section{
    width: 100%;
}
.article-section .article-sec-intro-container{
flex: 1 1 62%;

}
 .article-aside{
    flex:1 1 25%;
    padding: 2em 2.5em;
}
.article-container ,
.job-listing{
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-bottom: 1.3em;
}

.article-image {
    border-radius: 10px 10px 0 0;
    aspect-ratio: 3.13;
    object-fit: cover;
    width: 100%;
}

.article-header ,
.job-poster-container{
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    padding: 0 16px;
}

.article-category {
    display: flex;
    gap: 8px;
    align-items: center;
}

.category-icon,
.category-text {
    font-weight: 500;
}


.title-text {
    flex-grow: 1;
}

.article-summary {
    color: #5c5c5c;
    margin-top: 16px;
    font: 400 19px/1.34 'IBM Plex Sans', -apple-system, Roboto, Helvetica, sans-serif;
}

.article-author-info {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.author-details ,
.poster-details{
    display: flex;
    gap: 1em;
    align-items: center;
}

.author-name,
.poster-name {
    font-weight: 600;
}


.views-count {
    font-weight: 500;
}
.share{
    margin-left: 1.3rem;
}

.author-image,
.views-icon,
.bookmark-icon {
    aspect-ratio: 1;
    object-fit: cover;
}

.toggle{
    cursor: pointer;
}
.toggle-option{
    display: none;
}

.event-info .info-section,
.company-details{
   gap: 4rem;
}
.location-container,
.info-date-location{
    display: flex;
    gap:2px;
    align-items: center;
}
.location{
    margin: 0;
    font-family: IBM Plex Sans, sans-serif;
}


.location-search{
    margin-bottom: 1em;
    border-bottom: 1px solid grey;
}
.location-search input{
   border: 0;
    background-color: transparent;
    outline: none;
}
.location_info {
    margin-left: 1rem;
    columns: var(--light-grey);
    font-size: 1rem;
}

.share{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:max-content ;
    border-radius: .7em;
    background-color: var(--share-icon-clr);
    overflow: hidden;
}
.share-icon{
    background-color:var(--share-icon-clr);
    padding: .2em;
}
.share span{
    text-transform: capitalize;
    padding: .8rem 1rem;
}

.follow-btn{
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
    border: 0;
    border-radius: 2.5rem;
    padding: 0rem 1.3rem;
}
.follow-btn:focus{
    color: white;
    background-color: black;
}

.apply-button,
.visit-site{
    font-size: 1.7rem;
    font-weight: 500;
    padding:  .5em;
    margin: 1rem;
    border: 1px solid var(--light-grey);
    border-radius: 15px;
}
.apply-button:hover{
    border: 1px solid green;
}
.visit-site:hover{
    border: 1px solid red;
}
.recommended-group p{
    margin-left: 1rem;
    width: 70%;
    text-transform: capitalize;
    text-align: left;
}


/*  login section style */
form div{
    margin-bottom: 1rem;
}
.login-section{
    width:550px;
    /* position:absolute;
    top:0; */
}
.btn-createAccount{
    border-radius: 20px;
}
.sign-in-form-heading{
    border-radius: 8px 8px 0 0;
    background-color: #effff4;
    justify-content: center;
    color: #008a45;
    padding: 17px 30px;
    
    line-height: 1.14;
}
.sign-in-form-heading h1,
.login-illusation-div p{
    font-weight: 500;
    font-size: 1rem;
}
.login-illusation-div{
    padding: 1rem;
    text-align: right;
}
.login-illusation-div p{
    padding-right:2rem;
    font-size: .9rem;
}
